<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-mapping PUBLIC 
 "-//Hibernate/Hibernate Mapping DTD//EN"
 "http://www.hibernate.org/dtd/hibernate-mapping-3.0.dtd">
<hibernate-mapping>
	
	<class name="transaction.ORMAccount" table="TABLE_ACCOUNT">
		<id name="accountId" type="string"></id>
		<property name="name" type="string"></property>
		<property name="balance" type="double"></property>

	</class>

</hibernate-mapping>